<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <nav>
        <ul>
            <li><a href="/allCountries">All Countries</a></li>
            <li><a href="/myRecord">My Records</a></li>
        </ul>
    </nav>


    <ul>
        <li><%= data.TotalConfirmed %></li>
        <li><%= data.TotalDeaths %></li>
        <li><%= data.TotalRecovered %></li>
    </ul>


    <form action="/getByCountry" method="post">
        <input type="text" name="country" id="">
        <input type="date" name="start" id="">
        <input type="date" name="end" id="">
        <button>Search</button>
    </form>
</body>
</html>